/*-----------responsive-----------*/

@media (max-width:1600px){
  .container {
    max-width: 900px;
    margin: auto;
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "intro"
    "content"
    "footer";
  }

  .header{
    grid-area: header;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 40px 0 40px 0;
    display: grid;
    grid-template-areas:
    "logo"
    "tabs";

  }

  .intro{
    grid-area: intro;
    margin: 0;
    padding: 0 0 40px 0;

  }

  .content{
    grid-area: content;
    grid-template-columns: 1fr;

  }

  .footer{
    grid-area: footer;
    grid-template-columns: 1fr;

  }

  .log{
    margin: 0;
    padding:  20px 0 20px 0;
  }

  .album{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: dense;
    grid-row-gap: 10px;
    padding: 10px 0 10px 0;
  }

  .logo{
      display:flex;
      font-size: 1.5em;
      font-weight: bold;
      align-items: center;
      margin: auto 0;

    }

  .tabs{
    display: flex;
    font-size: 1em;
    align-items: baseline;
    margin: auto 0;
  }
}
@media (max-width:800px){
  .container {
    max-width: 900px;
    margin: auto;
    padding: 0 40px 0 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "intro"
    "content"
    "footer";
  }

  .header{
    grid-area: header;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-areas:
    "logo"
    "tabs";
  }

  .intro{
    grid-area: intro;
    margin: 0;
    padding: 0 0 20px 0;

  }

  .content{
    grid-area: content;
    grid-template-columns: 1fr;

  }

  .footer{
    grid-area: footer;
    grid-template-columns: 1fr;

  }

  .log{
    margin: 0;
    padding:  10px 0 10px 0;
  }

  .album{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: dense;
    grid-row-gap: 10px;
  }

  .logo{
      grid-area: logo;
      font-size: 1em;
      font-weight: bold;
      align-items: center;
      margin: auto 0;

  }

  .tabs{
      display: flex;
      font-size: 1em;
      align-items: baseline;
      margin: auto 0;
  }
}
@media (max-width:400px){
  .container {
    margin: 0;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "intro"
    "content"
    "footer";
  }

  .header{
    grid-area: header;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-areas:
    "logo"
    "tabs";
  }

  .intro{
    grid-area: intro;
    margin: 0;
    padding: 0 0 10px 0;

  }

  .log{
    margin: 0;
    padding:  10px 0 10px 0;
  }

  .album{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: dense;
    grid-row-gap: 10px;
  }

  .logo{
      grid-area: logo;
      font-size: 1em;
      font-weight: bold;
      align-items: center;
      margin: auto 0;

  }

  .tabs{
      display: flex;
      font-size: 1em;
      align-items: baseline;
      margin: auto 0;
  }
}
/*-----------START content styles-----------*/

a:link, a:visited{
      text-decoration: none;
      color:black;
  }

  a:hover, a:active, a.logtitle_link{
      text-decoration: underline;
      font-weight: bold;
  }

  a.special{
    font-size: 1em;
    font-weight: normal;
    color: blue;
    text-decoration: none;
  }

  body{
      font-family: 'Overpass Mono',monospace;
      width: 100%;
      color: black;
      background-color: white;
  }

  h2{
      font-size: 1em;
      font-weight: lighter;
      padding: 20px 0 0 0;
  }
  p{
      font-weight: 300;
  }

  img{
    float:left;
    width : 100%;
  }

  .label{
    width: 100px;
    background-color: yellow;
    padding:10px 10px 10px 10px;

  }
  /*-----------END content styles-----------*/

  /* -----------START horizontal linebreak styles-----------*/
  hr {
      display:block;
      margin-top:3em;
      margin-bottom:0;
      border-style: solid;
      border-width: 1px;
      border-color:#E8E8E8;
  }

  hr.breakline{
      margin: 20px 0 20px 0;
      align:left;
      width: 40px;
      color:#E8E8E8;
  }

  /* -----------END horizontal linebreak styles-----------*/
  /* -----------START nav styles-----------*/

  .header {
      display:flex;
      justify-content: space-between;
  }

  ul{
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      text-align:left;
      align-items:center;

  }

  ul li{
      margin: 0 0 0 40px;
  }

/* -----------END nav styles-----------*/
