/*-----------responsive-----------*/
  @media (min-width:801px) and (max-width:1600px){
    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: auto;
      grid-template-areas:
      "logo tabs"
      "intro intro"
      "content content"
      "footer footer";
    }

    .header{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "logo tabs";
      padding: 40px 0 40px 0;
    }

    .logo{
        grid-area:"logo";
        font-size: 1.5em;
        font-weight: bold;
      }

    .tabs{
      grid-area:"tabs";
      display: grid;
      grid-gap: 40px;
      font-size: 1em;
      margin:0;

    }

    .intro{
      grid-area: intro;
      margin: 0;
      padding: 0 0 40px 0;

    }

    .content{
      grid-area: content;
      grid-template-columns: 1fr;

    }

    .footer{
      grid-area: footer;
      grid-template-columns: 1fr;

    }

    .log{
      margin: 0;
      padding:  20px 0 20px 0;
    }

    .album{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-auto-rows: dense;
      grid-row-gap: 10px;
      padding: 10px 0 10px 0;
    }

    ul{
        list-style: none;
        display: flex;
        margin: 0 auto;
        padding: 0;

    }

    ul li{
        margin: 0 20px 20px 0;
    }
  }
  @media (min-width:401px) and (max-width:800px){
    .container {
      margin: 0 auto;
      padding: 0 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "header"
      "intro"
      "content"
      "footer";
    }

    .header{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "logo tabs";
    }
    .logo{
        grid-area: logo;
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        padding-top: 20px;



    }

    .tabs{
      grid-area: tabs;
      display: flex;
      justify-content: space-between;
      font-size: 0.95em;
      margin: 0;
      padding-top: 60px;



    }

    ul{
        list-style: none;
        display: flex;
        margin: 0 auto;
        padding: 0;


    }

    ul li{
        margin: 0;
        padding: 0 20px;
    }

    .log{
      margin: 0;
      padding:  10px 0 10px 0;
    }

  }
  @media (max-width:400px){
      .container {
        max-width: 360px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "intro"
        "content"
        "footer";
      }

      .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo"
        "tabs";
      }

      .logo{

          grid-area: logo;
          font-size: 1.5em;
          font-weight: bold;
          margin: 0 auto;
          padding:20px 0 10px 0;
          align-items: center;

      }

      .tabs{
        grid-area: tabs;
        font-size: 0.95em;
        margin: 0 auto;
        padding:0 0 10px 0;
        align-items: center;
      }

      ul{
          list-style: none;
          display: flex;
          margin: 0 auto;
          padding: 0;


      }

      ul li{
          margin: 0;
          padding: 0 20px;
      }

      .log{
        margin: 0;
        padding:  10px 0 10px 0;
      }
      .album{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: dense;
        grid-row-gap: 10px;
        padding: 10px 0 10px 0;
      }


    }
/*-----------START content styles-----------*/

  a:link, a:visited{
      text-decoration: none;
      color:black;
  }

  a:hover, a:active, a.logtitle_link{
      text-decoration: underline;
      font-weight: bold;
  }

  a.special{
    font-size: 1em;
    font-weight: normal;
    color: blue;
    text-decoration: none;
  }

  body{
      font-family: 'Overpass Mono',monospace;
      width: 100%;
      color: black;
      background-color: white;

  }

  h2{
      font-size: 1.5em;
      font-weight: 300;
      padding: 20px 0 0 0;
  }
  p{
      font-weight: 300;
      font-size: 0.95em;
      color: black;
  }

  img{
    float:left;
    width : 100%;

  }

  .label{
    width: 100px;
    background-color: yellow;
    padding:10px 10px 10px 10px;

  }

  blockquote{
    display: block;
    width: 100%;
    margin: 0 ;
    padding: 0 40px;
    color: #383838;
    }

  .date{
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #383838;
  }

  .quote{

    font-size: 1.8em;
    font-weight: lighter;
    color: #484848;
    line-height: 1.5;

  }

  .announcement{
    font-size: 12px;
    font-weight: lighter;
    color: #a7a7a7;
    line-height: 1.4;
  }

  /* -----------START horizontal linebreak styles-----------*/
  hr {
      display:block;
      margin-top:3em;
      margin-bottom: 10px;
      border-style: solid;
      border-width: 1px;
      border-color:#E8E8E8;

  }

  hr.breakline{
      margin: 20px 0 20px 0;
      align:left;
      width: 40px;
      color:#E8E8E8;
  }
