*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans','Menlo',monospace;
    width: 100%;
    line-height: 165%;
    color: black;
    background-color: white;
}

h1{
    margin: 20px 0px;
    font-size: 16pt;
    line-height: 180%;

}

h2{
    text-decoration: underline;
    font-weight: normal;
    font-size: 14pt;
    padding-bottom: 20px;
    color: blue;
}


::selection{
    background: #dddddd; /*#0066ff;*/
}

ul{
    list-style-type: disc;
}

#container{
    width: 60%;
    max-width: 1200px;
    margin-left: 20%;
    margin-top: 5%;
}
#container img{
    width: 100%;
}

.block{
    margin-top: 20px;
    margin-bottom: 40px;
}

.blocksmall{
    margin-top: 20px;
    margin-bottom: 20px;
}

.blocklarge{
    margin-top: 40px;
    margin-bottom: 100px;
}


p{
    margin: 20px 0px;
}


line{
    text-decoration: underline;
}

em{
    font-style: italic;
}

strong{
  font-weight: bold;
}

blockquote{
    border-left: 4px solid #dddddd;
    margin: 20px 0px;
    padding-left: 10px;
    color: #8e8e8e;

}

code{
    background-color: #ccc;
    padding: 5px;
}

a{
    color: blue;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;


}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a.title_link{
    color: blue;
    background-color: white;
    font-weight: normal;
    text-decoration:  none;
    font-size: 14pt;
}
a.title_link:hover{
    text-decoration:  underline;
    cursor: pointer;

}

a.nav_link{
  color: #8d8d8d;
  background-color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;

}

a.nav_link:hover{
  color: black;
  background-color: white;
  text-decoration:  underline;
  cursor: pointer;

}
a.email_link{
  color: black;
  background-color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 12pt;

}

a.email_link:hover{
  color: black;
  background-color: white;
  text-decoration:  underline;
  cursor: pointer;

}

a.header_link{
  color: blue;
  background-color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 24pt;

}

a.header_link:hover{
  color: blue;
  background-color: white;
  text-decoration:  underline;
  cursor: pointer;

}

hr.style1{
	border-top: 1px solid;
  color: #8d8d8d;
  margin-bottom: 20px;
}

/* FRAME */
#top, #bottom, #left, #right {
    background-color: black;
    position: fixed;
    z-index: 999;
    visibility: hidden;
}
#left, #right {
    top: 15px;
    bottom: 15px;
    width: 5px;
}
#left {
    left: 15px;
}
#right {
    right: 15px;
}
#top {
    left: 15px;
    right: 15px;
    top: 15px;
    height: 5px;
}
#bottom {
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: 5px;
}
